*** CalibreLVS + StarRC config file ***

*** Process Nodes: imc19n_TX/imc19n_RW/imc19n_LP_RW/cxmt10G2_LP/cxmt10G3/cxmt10G3_LP/cxmt10G4/cxmt10G4_LP/cxmt10G5plus/cxmt10G6
process    = imc19n_RW

*** Project name: dqrma / dqrmb / dqpoa / drpoa
project    = ddjow

*** version Option: v0 / v1 / v2
version	   = v0

*** lpe_star Option: lpe_star / lpe_star_CMOS
lpe_star   = lpe_star_CMOS

*** PEX-TF Version: current/0.0.1/0.0.2/.etc
pex_tf      = current

*** CDL & GDS Information
cdl = /proj/ddjow/V0/ver/lvs/ddjow_cmos_core/CXSA_1x4/CXSA_1x4.cdl
cdl_top = CXSA_1x4
gds = /proj/ddjow/V0/ver/lvs/ddjow_cmos_core/CXSA_1x4/CXSA_1x4.gds
gds_top = CXSA_1x4

*** RC extraction mode: R/C/RC/CC/RCC/FSCOMPARE(R3D)
mode       = RC

*** 3D_IC setting: YES/NO. If you want to run 3D_IC LPE, please set "3D_IC" as YES.
3D_IC = YES

***(Optional) Set Hcell for CCI-LVS
hcell      = /apps/imctf/cad/script/runlpe/hcell

***(Optional) Set Skip Cells for RC Extraction
skip_cell  = /apps/imctf/cad/script/runlpe/skip_cell

***(Optional) Virtual connect for CCI-LVS
VIRTUAL_CONNECT = YES

***(Optional) Select extract nets, default all nets
NETS = *
PG_Ronly_NETS =

***(Optional) Select output instance: SELECTED/YES/NO
NETLIST_INSTANCE_SECTION = SELECTED

***(Optional) Specifies the use of names: LAYOUT/SCHEMATIC
NET_TYPE = LAYOUT
CELL_TYPE = LAYOUT

***(Optional) User Star_cmd Setting: NO/YES/LRSD
POWER_EXTRACT = LRSD
POWER_NETS = VSSM! VLS_4! VLS_3! VFSRDB_R! VLS_2! VSSDLL! VDLL! VFSGDL_R! VFSGT_R! VLS_1! VANTI_L! VANTI_R! VPPEX! VDDQ! VFSRDB_L! VBLPO! VBLPE! VDLY! VFSGDL_L! VFSGT_L! VP! VSSQ! VPP! VKK! VISO! VEQ! VDD! VARY! VBLP! VBB! VPLT! VSS!

***(Optional) Keep power nets(Only for POWER_EXTRACT = YES), default all nets
Keep_Power = ALL

***(Optional) Write device location information: NO/YES/COMMENT
DEVICE_COORDINATE = NO
PLACEMENT_INFO_FILE = NO

***(Optional) Reduction: HIGH/YES/NO/LAYER/NO_EXTRA_LOOPS/LAYER_NO_EXTRA_LOOPS
REDUCTION = NO
COUPLING_ABS_THRESHOLD = 1e-17
COUPLING_REL_THRESHOLD = 0.05

***(Optional) Consider floating polygon as fill or ideal ground: YES/NO
FLOATING_AS_FILL = NO

***(Optional) Change device format "/M/R/C" to "/XM/XR/XC", "XX" to "X"
CHANGE_DEVICE_FORMAT = NO

***(Optional) Specifies the character used as the hierarchiical delimiter during extraction and netlist creation
HIERARCHICAL_SEPARATOR = .
NETLIST_NODENAME_NETNAME = YES

***(Optional) Specifies whetehr to write the .SUBCKT & .ENDS statements in SPF netlsit: YES/NO
NETLIST_SUBCKT = YES

*** R3D Options: NO/YES
R3D = NO

*** Check LPE-LVS Must Clean: NO/YES
CHK_LPE_LVS = YES

*** Extract Sub-Diode: YES/NO
Sub_Dio = YES

*** SPRES Flow
SPRES = NO

*** TOTEM Flow
TOTEM = NO

*** LayerINFO Flow
LayerINFO = NO

*** BA Diode flow
BA_Diode = NO

*** Core Numbers: 1/4
Core_Num = 1

*** Total Cap Report: NO/YES
Cap_Rep = NO

*** Handle Bulk layers extraction: NO/YES/CONLY
BULK = NO
